body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 40px;
            background-color: #8a9b98;
            color: #8d1515;
        }

        h1 {
            color: #0c35b9;
        }

        h2 {
            color: #091016;
        }

        p {
            line-height: 1.6;
            color: lime;
        }

        a {
            color: #2980b9;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        h4 a {
            color: rgb(234, 238, 11);
            display: block;
            text-align: center;
        }