 body {
            font-family: "Roboto", sans-serif;
            line-height: 1.6;
            margin: 20px;
            background-color: #315180;
        }

        h1 {
            color: #ff0000;
            border-bottom: 2px solid #333;
            padding-bottom: 10px;
            
        }

        h2 {
            color: #000000c7;
            margin-top: 20px;
            
        }

        p {
            text-align: justify;
            color:#ffffff;
            margin-bottom: 15px;
            
        }

        h4 a {
  display: block;
  text-align: center;
  color: lime;
}

