@charset "utf-8";

* {
    font-family: Arial, Helvetica, sans-serif
}

body {
        background-image: linear-gradient(to right, #0B7399, #47D0DB, #1B8CAC);
    }

h1 {
        text-align: center; 
        color: #b10cfd;
        text-shadow: 1px 1px 1px #13aaaf;
    }

h2 {
        text-align: justify;
        color: #005580;
    }    

main {
        background-color: #f7fdff;
        border-radius: 15px;
        box-shadow: 10px 10px 10px #7f098f;
        width: 600px;
        padding: 10px;
        margin: auto;
    }


p {
    text-align: justify;
}