@charset "utf-8";

* {
    font-family: Arial, Helvetica, sans-serif
}

body {
        background-image: linear-gradient(to right, #380602b4, #db5d47, #03090a83);
    }

img {
        display: block;
        width: 800px;
        height: 300px;
    }

h1 {
        text-align: center; 
        color: #e90606bd;
        text-shadow: 1px 2px 3px #af02ff49;
        text-decoration: underline;
    }

h2 {
       text-align: center; 
        color: #e90606bd;
        text-shadow: 1px 2px 3px #af02ff49;
        text-decoration: underline;
    }    

main {
        background-color: #000002;
        border-radius: 15px;
        box-shadow: 10px 10px 10px #e8deebc9;
        width: 800px;
        padding: 10px;
        margin: auto;
    }


p {
    color: #ffffff;
    text-align: center;
    
}

a {
    text-align: center;
    display: block;
    color: #e90606bd;
    text-decoration: underline;
    font-size: 20px;
}

ol {
    color: #ffffff;
    text-align: center;
    padding-left: 20px;
}

