@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Eater&family=Great+Vibes&display=swap');

/* Versão para todas as demais mídias */

/*  
    typical device breakpoints 

    pequenas (320px - 480px) - smartphones
    médias (481px - 768px) - tablets
    grandes (769px - 1024px) - desktops
    extra grandes (1025px - 1200px) - desktops grandes
    tvs e monitores (1201px ou mais) - TVs e monitores grandes
*/

/* IMPRESSÃO */
@media print {

    *
        {
            font-family: 'Great Vibes';
        }

    body {
        background-image: url(../imagens/back-print.jpg);
    }

        img#phone {display: none;}
        img#tablet {display: none;}
        img#print {display: block;}
        img#pc {display: none;}
        img#tv {display: none;}

    main {
        border: 2px solid black;
    }

    main::after {
        content: "Esse é um teste de impressão gerado apenas no momento imprimir a página. Ele não aparecerá na tela.";
        display: block;
        text-align: center;
        font-size: 1.5em;
        margin-top: 10px;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }
}


@media screen and (min-width: 481px) and (max-width: 1024px) {
    body {
        background: black url(imagens/back-tablet.jpg) no-repeat;
        background-position: center center;
        background-size: cover;
    }

    img#phone {display: none;}
    img#tablet {display: block;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 1025px) and (max-width: 1600px) {
    body {
        background: black url(../imagens/back-pc.jpg) no-repeat;
        background-position: center center;
        background-size: cover;
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: block;}
    img#tv {display: none;}
}

@media screen and (min-width: 1601px) and (max-width: 3840px) {
    body {
        background: black url(../imagens/back-tv.jpg) no-repeat;
        background-position: center center;
        background-size: cover;
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: block;}
}



